<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sismos Nicaragua</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/leafletv")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <div class="container">

            <!-- Brand -->
            <a class="navbar-brand" href="/Home/Index" target="_blank">
                <strong>S i s m o s</strong> &nbsp; <strong>N i c a r a g u a</strong>
            </a>

            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                </ul>

                <!-- Right -->
                <ul class="navbar-nav nav-flex-icons">

                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Index">
                            Inicio
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Buttons">GeoVisor</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Home/About">Acerca de nosotros</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Contact">Contáctanos</a>
                    </li>

                </ul>

            </div>

        </div>
    </nav>
    <!-- Navbar -->

    @if (ViewBag.FullPageIntro)
    {
        <!-- Full Page Intro -->
        <div class="view full-page-intro" style="background-image: url('https://cdn.hipwallpaper.com/i/9/49/dVnHCU.jpg'); background-repeat: no-repeat; background-size: cover;">

            <!-- Mask & flexbox options-->
            <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                <!-- Content -->
                <div class="container">

                    <!--Grid row-->
                    <div class="row wow fadeIn">

                        <!--Grid column-->
                        <div class="col-md-6 white-text text-center text-md-left">

                            <br><br>

                            <h1 class="display-4 font-weight-bold">Sismos de Nicaragua 2018, 2019 & 2020</h1>

                            <hr class="hr-light">

                            <p>
                                <strong>Consulta los sismos registrados durante los últimos tres años en cada departamento de Nicaragua.</strong>
                            </p>

                            <a target="_blank" href="/Home/Buttons" class="btn btn-black btn-lg">
                                Ir a GeoVisor
                                <i class="fas fa-map-marked-alt ml-2"></i>
                            </a>

                        </div>
                        <!--Grid column-->
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                </div>
                <!-- Content -->

            </div>
            <!-- Mask & flexbox options-->

        </div>
        <!-- Full Page Intro -->
    }
    @if (ViewBag.RenderCarousel)
    {
        <!--Carousel Wrapper-->
        <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">

            <!--Slides-->
            <div class="carousel-inner" role="listbox">

                <!--First slide-->
                <div class="carousel-item active">
                    <div class="view" style="background-image: url('https://www.ecestaticos.com/imagestatic/clipping/65a/80e/65a80e083ea1c2726ce1b81f0697adaf/registrado-un-ligero-terremoto-en-ubrique-y-varias-localidades-de-cadiz.jpg?mtime=1579565836'); background-repeat: no-repeat; background-size: cover; ">

                        <!-- Mask & flexbox options-->
                        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                            <!-- Content -->
                            <div class="text-center white-text mx-5 wow fadeIn">

                                <br>

                                <h1 class="mb-4">
                                    <strong>Geovisor de sismos en Nicaragua</strong>
                                </h1>

                                <p>
                                    <strong>Consulta los sismos registrados en cada departamento durante los periodos 2018, 2019 y 2020</strong>
                                </p>

                            </div>
                            <!-- Content -->

                        </div>
                        <!-- Mask & flexbox options-->

                    </div>
                </div>
                <!--/First slide-->

            </div>
            <!--/.Slides-->
            
        </div>
        <!--/.Carousel Wrapper-->
    }
    <!--Main layout-->
    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <!--Footer-->
    <footer class="page-footer text-center font-small mt-4 wow fadeIn">

        <hr class="my-4">

        <!-- Social icons -->
        <div class="pb-4">
            <a href="https://www.facebook.com/mdbootstrap" target="_blank">
                <i class="fab fa-facebook-f mr-3"></i>
            </a>

            <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
                <i class="fab fa-youtube mr-3"></i>
            </a>

            <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
                <i class="fab fa-google-plus-g mr-3"></i>
            </a>

            <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
                <i class="fab fa-github mr-3"></i>
            </a>

            <a href="http://codepen.io/mdbootstrap/" target="_blank">
                <i class="fab fa-codepen mr-3"></i>
            </a>
        </div>
        <!-- Social icons -->
        <!--Copyright-->
        <div class="footer-copyright py-3">
            © 2019 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> Team DROP </a>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/leafletv")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatables")
    @RenderSection("scripts", required: false)
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>
</body>
</html>